<div class="jumbotron">
    <p>Apitron Web Api Client is a simple web app showing how to access Apitron Web Api for processing PDF documents.
    It's a fully functional application that can be used for office docs workflow automation and its source code can serve as a base for creating your own apps.</p>
</div>