<div class="jumbotron">
    <h3>
        If you need any help with adapting the app to your needs,
        please contact us using the info below. We'll be happy to answer any questions regarding the app and our products.
    </h3>
    <br/>
    <address>
        <strong>Support:</strong> <a href="mailto:support@apitron.com">support@apitron.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:sales@apitron.com">sales@apitron.com</a>
    </address>
</div>